body {
    font-family: Lora, Georgia, sans-serif;
    font-size: 12px;
}

.remark-slide-content ul,ol,p {
    font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: normal;
}
.remark-code, .remark-inline-code {
    font-family: monospace;
}
